<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>99929497132-5mo4h7538ohn86fuk9g1altjls6lo7ln.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.99929497132-5mo4h7538ohn86fuk9g1altjls6lo7ln</string>
	<key>API_KEY</key>
	<string>AIzaSyCLXRTW5BBMwoHCjjPYgYC-KuKUzLtFhOs</string>
	<key>GCM_SENDER_ID</key>
	<string>99929497132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TeleToby.BlueCombing</string>
	<key>PROJECT_ID</key>
	<string>bluecombing</string>
	<key>STORAGE_BUCKET</key>
	<string>bluecombing.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:99929497132:ios:c7844c9d683ee4c9363b89</string>
</dict>
</plist>