<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb827116098645505</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>827116098645505</string>
	<key>FacebookClientToken</key>
	<string>2b4c4cd8344db0965f077670a7605330</string>
	<key>FacebookDisplayName</key>
	<string>BlueCombing</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
        <string>fbauth2</string>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>13.0.0</string>
	<key>UIAppFonts</key>
	<array>
		<string>Pretendard-Bold.otf</string>
		<string>Pretendard-Medium.otf</string>
		<string>Pretendard-SemiBold.otf</string>
	</array>
    <key>FacebookAutoLogAppEventsEnabled</key>
    <true/>
    <key>FacebookAdvertiserIDCollectionEnabled</key>
    <true/>
</dict>
</plist>
